[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/mostafa-hugo-theme"]
	path = themes/mostafa-hugo-theme
	url = https://github.com/mirmousaviii/mostafa-hugo-theme.git
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
